<% provide(:title, 'Home') %>
<div id="empty-container" class="alert alert-danger">No elements to show!</div>
<div id="account-container" class="alert alert-info">TODO: Here will be the list of all Tinder Accounts registered</div>
