<% provide(:title, 'Account') %>
<div class="container-fluid">
  <div class="row">
    <div class="contact-container-master col-xs-12">
      <h1>Tinder Accounts</h1>
      <%= link_to 'Add an account', new_account_path %>
      <div class="row">
        <div class="col-xs-12">
          <% @accounts.each do |account| %>
            <%= account %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
