// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-container-master {
  background-color: white;
  padding: 5px 5px;
  padding-bottom: 20px;
  margin-top: 15px;
}