$navbar-height: 40px;
$navbar-default-link-color: black;
$brand-primary: black;
$font-family-base: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
$navbar-default-toggle-border-color: black;

$grayLighter: #acacac;
$font-family-base: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
