<% provide(:title, 'Erreur') %>
<%= javascript_include_tag 'search.js' %>

<div class="row">
  <div class="col-xs-12">
    <p>An error occured. Please contact technical support at maxime@argaus.fr.</p>
    <%= @error_message %>
  </div>
</div>
